
<div class="container">
  <div class="top_row col-md-12 col-sm-12">
    <div id="greeting" class="col-md-6 col-sm-6">
      <h1>Hi <%= @user.name %>!</h1>
      <p>You have <%=@my_blog.count%> blog entries so far. Get inspired and write more.</p>
      <a href="/sessions/logout">Logout</a>
    </div>
    <div class="error">
      <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
        <div class="bg-success">
         <p><b><%= x %></b></p>
        </div>
      <% end %>
    </div>

    <div id="create_blog" class="col-md-6 col-sm-6">
      <form class="form-inline" action="/blogs" method="post">
        <div class="form-group">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="text" name="blog[title]" class="form-control" placeholder="Entry Title"><br>
          <textarea style="width: 250px; height: 80px" class="form-control input-sm" name="blog[content]" placeholder="Enter your blog here."></textarea><br>
          <input type="hidden" name="blog[user]" value="<%= session[:user] %>"><br>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>


  <div class="second_row col-md-12">
    <div id="my_entries" class="col-md-6 col-sm-6">
      <% if @my_blog %>
        <h2>Your entries</h2>
          <% @my_blog.each do |b| %>
            <div class="my_blog_entry">
              <h4><%= b.title %></h4>
              <p><%= b.content %></p>
              <p><%= b.updated_at.strftime('%A %m/%d/%y, %I:%M %p') %></p>
              <a href="/blogs/delete/<%= b.id %>">Delete</a>
            </div>
          <% end %>
      <% end %>
    </div>

    <div id="all_blogs" class="col-md-6 col-sm-6">
      <h2>Member Blogs</h2>
      <div id="search_forms">
        <%= form_tag(sessions_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], class:"form-control", id:"search_field", placeholder: "Search Member Posts" %><br>
        <div class="search_buttons">
          <%= submit_tag "Search", class:"btn btn-success btn-sm", id: "search_button" %>
        <% end %>
          <a id="search_clear" class="btn btn-warning btn-sm" href="/clear_search" role="button">Clear</a>
        </div>
      </div>
        <% if @blogs %>
        <div id="search_results">
          <% @blogs.each do |b| %>
            <div class="search_result">
              <h4><%= b.title %></h4>
              <p><%= b.content %></p>
              <p><%= b.user.name %></p>
              <p><%= b.updated_at.strftime('%A %m/%d/%y, %I:%M %p') %></p>
            </div>
          <% end %>
        <% else %>
          <p>There are no posts containing the term(s).</p>
        </div>
        <% end %>
    </div>
  </div>
</div>
