<div class="container">
  <div id="welcome">
    <h1>Welcome to Blog It!</h1>
    <h5>A space to blog entries with the Blog It community</h5>
  </div>
  <div id="login_container" class="col-md-12 col-sm-12">
  <% (notice.kind_of?(Array) ? notice : [notice]).each do |x| %>
     <p><b><%= x %></b></p>
  <% end %>
    <div id="user_register" class="col-md-6 col-sm-12">
      <h4>Register here!</h4>
       <%= simple_form_for @user, id:"register_form", :url => '/users', :html => {:multipart => true} do |f| %>
          <%= f.input :name, placeholder: 'Name', label: false %>
          <%= f.input :email, placeholder: 'Email: ', label: false %>
          <%= f.input :password, placeholder: 'Password: ', label: false, input_html: { maxlength: 20 } %>
          <p id=password_req>(password must be 7 characters long)</p>
          <%= f.button :submit, 'Register', class: 'btn btn-primary' %>
       <% end %>
    </div>

    <div id="user_login" class="col-md-6 col-sm-12">
      <h4>Already Registered? Login Here!</h4>
      <form action="/users/user_login" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="email" class="form-control" id="login[email]" name="login[email]" placeholder="Enter email"><br>
          <input type="password" class="form-control input" id="user_password" name="login[password]" placeholder="Password"><br>
          <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>

  </div>

</div>
